#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$OtWJCQuhb7IUxmsb$kzIRxHO4WbbPoAd08FIeUzbnfEElFoz3vw4gAl39f/3y4lr9BrahdUPCV7nae1gVBQD7dWZBSl9KOPIao0Guw1
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --drives=sda --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
part /boot/efi --fstype="efi" --ondisk=sda --size=200 --fsoptions="umask=0077,shortname=winnt"
part / --fstype="xfs" --ondisk=sda --size=40960 --grow
# SELinux configuration
selinux --disabled
# Firewall configuration
firewall --disabled
# Reboot
#reboot


%packages
@^minimal
@core
%end


%post --interpreter /bin/sh --log=/var/log/ks.post.log
mount LABEL="CentOS 7 Tools" /mnt
cd /mnt
rpm -ivh kernel-4.15.18_rc3_arch64_bochtec.com-1.aarch64.rpm kernel-headers-4.15.18_rc3_arch64_bochtec.com-1.aarch64.rpm kernel-devel-4.15.18_rc3_arch64_bochtec.com-1.aarch64.rpm
cd / && umount /mnt
%end


%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
